<?xml version="1.0" ?>
<launch>
 <param name="/use_sim_time" value="true" />
  <!-- start up world -->
  
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" default="$(find diff_wheeled_robot_gazebo)/world/test.world"/>
  </include>
 




<arg name="model" default="$(find mastering_ros_robot_description_pkg)/urdf/diff_wheeled_robot_with_laser.xacro"/>
 <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

 <node name="joint_state_publisher" pkg="joint_state_publisher"
 type="joint_state_publisher" />
 <node name="map_server" pkg="map_server" type="map_server" args="
$(find diff_wheeled_robot_gazebo)/maps/test.yaml" />
<!-- start robot state publisher -->
 <node pkg="robot_state_publisher" type="robot_state_publisher"
 name="robot_state_publisher" output="screen" />
 <!--node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
 args="-urdf -model diff_wheeled_robot -param robot_description -z 0.1"/-->
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find differential_robot_2dnav)/rviz/config_test.rviz" />
</launch>
